#app {
  height: 100%;
  width: 100%;
  text-align: center;
}
body {
  width: 90%;
  margin: 0 auto;
}
.el-message {
  width: 120px;
  height: 30px;
}

.el-icon-info:before{
  content: '';
}
.el-input__inner {
  height: 25px!important;
  line-height: 25px!important;
  padding: 0;
}

@keyframes circle_rotating {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
