#app {
  height: 100%;
  width: 100%;
  text-align: center;
}

body {
  font-size: 28px;
}
.el-pagination{
  width: 1200px;
  padding-top: 20px;
}

.avatar-uploader {
  position: absolute;
  left:140px;
  top: 0;
  width: 120px;
}

.avatar-uploader-icon {
  // border: 1px dashed #d9d9d9;
  font-size: 28px;
  color: #8c939d;
  width: 160px;
  height: 160px;
  line-height: 160px;
  text-align: center;
}
.avatar {
  width: 160px;
  height: 160px;
  display: block;
}