#app {
  height: 100%;
  width: 100%;
  text-align: center;
}
body {
  width: 90%;
  margin: 0 auto;
}

.el-message-box {
  width: 200px;
}
.el-input__inner {
  height: 40px!important;
  line-height: 40px!important;
}
input{
  height: 40px!important;
  line-height: 40px!important;
}
@keyframes circle_rotating {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
